.faq {
    position:relative;
    width: 100%; 
    height: 1300px;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    /* padding: 30px 3%; */
    /* align-items: center; */
    /* align-content: center; */
    max-width: 1200px;
    margin: auto;
    margin-bottom: 0px;
    /* flex-direction: column;   */
    padding-top: 0px;
    padding-bottom: 0px;
}

.faq-container {
    position: relative;
    /* z-index:0; */
    max-width: 800px;
    margin-right: auto;
    margin-left:auto;  
    max-height: 80vh;
    
     
}

.title-wrapper {
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    text-align: center;

  

}

.title-large {
    margin-bottom: 15px;
    color: #FF00B5;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.h3-heading {
    margin-top: 0;
    margin-bottom: 24px;
    color: #FF00B5;
    font-size: 70px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: -.03em;
}

.wrapper {
    display: flex;
    height: auto;
    width: 800px;
    justify-content: center;
    margin:auto;
    bottom: 30px;
    
}

.accordion {
    /* margin-top: -5px; */
    width: 150%;
    
}

.item {
    margin-top: 10px;
    border: 0.1rem #FF00B5 solid;
    padding: 10px 20px;
    cursor: pointer; 
    position: relative;
}

.title {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 
    
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1)
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

@media screen and (max-width:915px) {
    .faq-container {
        width: 600px;    
    }

    .wrapper {
        display: flex;
        height: auto;
        width: 600px;
        justify-content: center;
        margin:auto;
    }

    .title-large {
        margin-bottom: 5px;
        font-size: 16px;
    } 

     .h3-heading {
        font-size: 50px;
        margin-bottom: 24px;
    }

}

@media screen and (max-width:640px) and (min-width:430px) {

    .faq {
        height: 1400px;
    }
    .faq-container {
        width: 370px;    
    }

    .wrapper {
        display: flex;
        height: auto;
        width: 370px;
        justify-content: center;
        margin:auto;
    }

    .title-large {
        margin-bottom: 5px;
        font-size: 16px;
    } 

    .h3-heading {
        font-size: 35px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width:430px) {

    .faq {
        height: 1450px;
    }

    .faq-container {
        width: 250px;    
    }

    .wrapper {
        display: flex;
        height: auto;
        width: 250px;
        justify-content: center;
        margin:auto;
    }
}