@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Antic+Slab&display=swap');

.faq {
    position:relative;
    width: 100%; 
    height: auto;
    overflow: hidden;
    display: flex;
    /* max-width: 1200px; */
    margin: auto;
    /* margin-bottom: 0px;
    padding-top: 0px; */
    /* padding-bottom: 0px; */
    background-color: rgb(151, 220, 247);
}


.faq-container {
    position: relative;
    max-width: 1000px;
    margin-right: auto;
    margin-left:auto;  
    height: auto;
    padding-bottom: 3.5rem ;
    width: 100%;
}

.title-wrapper {
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    text-align: center;
}

.title-large {
    margin-bottom: 15px;
    color: #FF00B5;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.h3-heading {
    margin-top: 0;
    margin-bottom: 24px;
    color: #FF00B5;
    font-size: 70px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: -.03em;
}

.wrapper {
    display: flex;
    height: auto;
    justify-content: center;
    margin:auto;
    bottom: 30px;
    
}

.accordion {
    width: 150%;
}

.item {
    margin-top: 10px;
    border: 0.1rem #FF00B5 solid;
    padding: 10px 20px;
    cursor: pointer; 
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #fb89d9; 
    
}

.title-h4_ {
    font-family: 'Alegreya', serif;
    font-weight: 600;
    font-size: 20px;
    color: #28021e;
}

.title-p {
    font-family: 'Antic Slab', serif;
    font-weight: 500;

}

.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1)
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    line-height: 25px;
}

@media screen and (max-width:915px) {
    .faq-container {
        margin: 0 15px
    }

    .wrapper {
        display: flex;
        height: auto;
        justify-content: center;
        margin:auto;
    }

    .title-large {
        margin-bottom: 5px;
        font-size: 16px;
    } 

     .h3-heading {
        font-size: 50px;
        margin-bottom: 24px;
    }

}

@media screen and (max-width:640px) and (min-width:430px) {

    faq-container {
        margin: 0 15px
    }

    .wrapper {
        display: flex;
        height: auto;
        justify-content: center;
        margin:auto;
    }

    .title-large {
        font-size: 16px;
    } 

    .h3-heading {
        font-size: 35px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width:430px) {

    .faq-container {
        margin: 0 15px

    }

    .wrapper {
        display: flex;
        height: auto;
        justify-content: center;
        margin:auto;
    }
}