.Home-container {
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center;
    max-width: 1200px;
    margin: auto;
    bottom: 0px;
    top: 0;
}

#header{
    background: url(/Banner.jpg);
    min-height: 100vh;
    min-width: 100%;
    height: auto;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    /* position:absolute */
    /* display: block; */
    /* margin-top: 0px */
    /* z-index: 1; */
   
}

.Home-header {
    display: inline-block;
    justify-content: center; 
    align-items: center; 
    align-content: center;
    padding: 0 5%;
    padding-bottom: 0.5rem;
}

.Home-header-wrapper {
    display: flex;
    padding: 50px 0;
}

.community {
    /* padding-right: 50 */
    padding-top: 0;
            margin: 0px 50px;
        /* justify-content: center;
          align-items: center; */    
}

.community-info {
   /* padding-top: 80px; */
}

.project-header {
    margin-top: 0;
    color: #FF00B5;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: -.03em;

}

.project-para {
    display: block;
    color: #edeeec !important;
    font-size: 20px;
    line-height: 40px;
   text-align: center;

}

.buy-div {
    /* position: absolute; */
    display:flex;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center

}

.buy-btn {
    text-decoration: none;
    /* z-index:1; */
    display: flex;
    margin-right: 20px;
    padding: 15px;
    border-radius:20px;
    /* border : solid ; */
    background-image: linear-gradient(180deg, #FF00B5, #a13181 21%, skyblue 77%, rgb(5, 84, 115)  );
    /* opacity: 1; */
}


.fa-angle-right {
    padding-left: 10px;
    ;
}

.text {
    color: black;
    font-size: 17px;
    margin-top: 4px
}

.community-image {
    align-self: center;
    justify-self: center;
    margin-left: 50px;
}

.image-class {
    width:100%;
    min-width:440px;
    max-width:450px
}

img {
    border: 0;
    vertical-align: middle;
    display: inline-block
}




.market-logo {
    display: block;
    max-width: 150px;
    margin-right: 60px;
    margin-left: 60px
}



@media screen and (max-width:915px) {
    .community {
        display:grid;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .Home-header {
        padding: 4.4rem 5%;
    }

    .Home-header-wrapper {
        display: block;
        align-items: center;
        justify-content: center;
        align-content: center;
        /* padding-top: 0px; */
    }

    .community-info{
        /* padding-top: 100px */
    }
    
    .community-image {
        margin-top: 20px;
        margin-left: 0;

    }

    .project-header {
        text-align: center;
    }

    .project-para {
        text-align: center;
    color: #edeeec

    }

    .buy-div {
        justify-content: center;
    }

    .image-class {
        display: flex;
        margin: auto;
    }

}

/* $desktop:1200px;
$laptop:1024px;
$tablet: 768px;
$phone:  480px */

/* @media screen and (max-width:1200px) and (min-width:768px) {
  
}

@media screen and (max-width:768px) and (min-width:480px) {
  
} 

@media screen and (max-width:480px) and (min-width:350px) {
  
} */

@media screen and (max-width:560px) and (min-width:430px) {
    .community {
      margin-left: 40px
    }

    .project-header {
        font-size: 35px;
        line-height: 50px;
    }

    .project-para {
        display: block;
        /* color: black; */
        color: #edeeec;
        font-size: 17px;
        line-height: 30px;
    }

    .image-class {
        width:100%;
        min-width:330px;
        max-width:350px
    }
  
  }

  @media screen and (max-width:430px)   {

    .community-info {
        /* padding-top: 25%; */
        width: 100%;
        /* margin: auto; */
     }

     .Home-header-wrapper{
         justify-content: center;
     }

    .community {
      margin: 0px 50px;
    }

    .community-info{
        height:auto;
        padding-top:5%
    }

    .project-header {
        font-size: 30px;
        line-height: 40px;
    }

    .project-para {
        /* padding-top: 10px; */
        display: block;
    color: #edeeec;
        font-size: 15px;
        line-height: 30px;
    }

    .buy-div {
        display:grid;
        padding-top: 0;
        justify-content: center;
        padding: 0 auto

    }

    .buy-btn {
        margin-top: 10%;
    
    }

    .image-class {
        width:100%;
        min-width:200px;
        max-width:250px;
        padding-top: 15px;
    }


    .market-info {
        display: grid;
    }

    .market-logo {
        margin-top: 10%;
    }

   
  
  }

  @media (max-width: 1300px) {
  #header {
      background-position: center;
      background-size: cover;
      min-height: 60vw;
      background-attachment: unset !important;
      padding-top: 50px

  }

  .Home-header {
    padding: 0;

  }
  }