.dashboard {
    position: relative;
    width: 100%;
    background-color: skyblue;
    max-width: 1200px; 
  }

.Nav-container {
  position: fixed;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center;
    background-color: black ;
    z-index: 1;
    
}

#header{
  background: url(/Banner.jpg);
  min-height: 100vh;
  min-width: 100%;
  /* height: auto; */
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* display: block; */
 
}
  
.logo {
    color: skyblue
}

.Nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    background-color: black;
    width: 100%;
    max-width: 1200px;
    margin: auto
  }
  
  .Nav-bar-items {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  
  
  .Nav-menu li{
    display: inline-block;
    padding: 15px;
    font-weight: 700;

  }
  
  .Nav-logo {
    color: #edeeec
  }


  .Nav-social:hover {
    background-color: skyblue;
    color: #edeeec;
    /* padding: 10px 10px; */
   }



   .fa-discord {
    color: #edeeec
  }

  .fa-discord:hover {
    color:#FF00B5
  }

  .fa-twitter {
    color: #edeeec
  }

  .fa-twitter:hover{
    color:#FF00B5
  }


  .social-icon {
   
  }


  .hamburger{
      display: none;
  }

  .nav-dropdown {
    display: none
  }

  @media screen and (max-width:868px) {
    .Nav-bar-items {
      display: none;
    /* padding: 20px 8%; */

    }

    .hamburger {
        display: block;
        user-select: none;
        appearance: none;
        border: none; 
        outline: none;
        background: none;
        cursor: pointer
    } 

    .hamburger span {
        display: block;
        width: 35px;
        height: 5px;
        margin-bottom: 5px; 

        background-color: #edeeec;
        border-radius: 5px;

        transform-origin: 0 0;
        transition: 0.5s;
    }

    .hamburger:hover span:nth-child(2) {
        transform: translateX(10px);
        background-color: skyblue;
    }

    .active-hamburger span:nth-child(1){
        transform: translate(0px, -2px) rotate(45deg)
    }

    .active-hamburger span:nth-child(3){
        transform: translate(-2px, 2px) rotate(-45deg)
    }

    .active-hamburger span:nth-child(2){
        opacity: 0
    }

    .active-hamburger:hover span {
        background-color: skyblue;
    }

    .Nav-container {
      position: fixed;
   
    display: inline-block;
    
    }

    .nav-dropdown {
      display:flex ;
      flex-direction: column;
      flex-wrap: wrap;
      position: relative;
      width: 100vw;
      height: 100%;
      padding: 5px 0;
      background-color: black;
    }

    .nav-dropdown ul li {
      /* display: flex; */
      position: relative;
      padding: 8px 30px;
      margin: 0 16px;
      text-decoration: none;
      text-align: center;
      list-style: none;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 500;
      border-radius: 90px;
    }

    .Nav-link {
      color: skyblue;
      font-size: 18px;
      text-decoration: none;
    }
    

    .Nav-link:hover {
     color: skyblue
    }

    .Nav-link-active {
      padding: 0 ;
      transition: all 0.5s ease;
      color: skyblue;
      z-index: 1;
      text-decoration: none;
      font-size: 18px;
    }

    .Nav-social {
      color: skyblue;
      font-size: 18px;
    }

    .Nav-social:hover {
     background-color: #FF00B5;
     color: #edeeec
    }

    .fa-discord{
      color: skyblue
    }

    .fa-discord:hover {
      color: skyblue
    }

    .fa-twitter{
      color: skyblue;
    }

    .fa-twitter:hover {
      color: skyblue
    }
  }


 @media screen and (min-width:868px) {

  .Nav-link {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: #edeeec;
    font-size: 18px; 

  }
  
  .Nav-link:hover {
    color: #FF00B5
  }

  .Nav-link-active {
    padding: 0 3px;
    background-color: skyblue;
    transition: all 0.5s ease;
    color: #FF00B5;
    z-index: 1;
    text-decoration: none;
    font-size: 20px;
    padding:  15px 15px;
  }
   
 } 

 @media (max-width: 1300px) {
  .Nav-container {
    /* opacity: 0.5; */
    position: relative
  }
 }
